[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chhuondalays
[access "refs/for/refs/*"]
	read = group user/chhuondalays
	push = group user/chhuondalays
	label-Code-Review = -2..+2 group user/chhuondalays
	label-Verified = -1..+1 group user/chhuondalays
	rebase = group user/chhuondalays
	removeReviewer = group user/chhuondalays
	submit = group user/chhuondalays
[access "refs/heads/*"]
	read = group user/chhuondalays
	create = group user/chhuondalays
	push = +force group user/chhuondalays
	pushMerge = group user/chhuondalays
[access "refs/tags/*"]
	push = +force group user/chhuondalays
	pushTag = group user/chhuondalays
	pushSignedTag = group user/chhuondalays
